extends _page

block head
    title Help Desk Stand
    script window.urlPrefix = 'http://' + location.hostname + ':8080/home/api'
block body
    home_app
    script(src="js/main.js", type="text/javascript")